<div class="container text-center pt-5">
    <h1>Prácticas</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id Practica</th>
                <th scope="col">Id Profesor</th>
                <th scope="col">Titulo</th>
                <th scope="col">Fecha Limite</th>
                <th scope="col">Hora Limite</th>
                <th scope="col">Calificacion</th>
                <th scope="col">Notas</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody *ngIf="practicas">
            <tr *ngFor="let e of practicas; let i = index">
                <th scope="row">{{ e.idpractica }}</th>
                <th scope="row">{{ e.idprofesor }}</th>
                <th scope="row">{{ e.nombre }}</th>
                <th scope="row">{{ e.fecha }}</th>
                <th scope="row">{{ e.hora }}</th>
                <th scope="row">{{ e.calificacion }}</th>
                <th scope="row">{{ e.notas }}</th>
                <td align="center" >
                    <a class="text-info" [routerLink]="['/bajarPractica', e.idpractica, e.idprofesor, e.idgrupo, e.idmateria]">Bajar Practica</a>
                </td>
                <td align="center" >
                    <a class="text-info" [routerLink]="['/subirPractica', e.idpractica, e.idalumno]">Subir Practica</a>
                </td>

            </tr>
        </tbody>
    </table>
   
    <a class="nav-link" routerLink="/verMaterias" routerLinkActive="active">
        <i class="fas fa-undo-alt mr-2"></i> Regresar
    </a>

</div>
