<div class="container bg-dark text-light mt-5 pt-3 pb-3">
    <div align="center">
        <h1>Subir una practica</h1>
    </div>
    <form [formGroup]="practicaForm" (ngSubmit)="onSubmit(practicaForm.value)">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="fecha">Fecha de entrega</label>
                <input type="date" class="form-control" id="fecha" formControlName="fecha" required>
            </div>
            <div class="form-group col-md-6">
                <label for="hora">Hora de entrega</label>
                <input type="time" class="form-control" id="hora" formControlName="hora" required>
            </div>
            <div class="form-group col-md-6">
                <label>Materia </label>
                <input list="materia" value="" class="col-sm-12 custom-select" formControlName="materia" (change)="obtenerIdMateria($event)" required>
                <datalist id="materia" >
                    <option *ngFor="let materia of materias" [value]="materia.nombre">
                        {{materia.nombre}} 
                    </option>
                </datalist>
            </div>
            <div class="form-group col-md-6">
                <label>Grupo </label>
                <input list="grupo" value="" class="col-sm-12 custom-select" formControlName="grupo" required>
                <datalist id="grupo">
                    <option *ngFor="let grupo of grupos" [value]="grupo.nombre">
                        {{grupo.nombre}} 
                    </option>
                </datalist>
            </div>
            <div class="form-group col-md-12">
                <label for="archivo">Archivo</label>
                <input type="file" class="form-control" id="archivo" 
                (change)="handleFileInput($event.target.files)" required>
            </div>
            <div class="col-sm-12" align="center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
      </form>
</div>
