<!--navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Laboratorios UAA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" [ngSwitch]="rol">
        <li *ngSwitchCase="'estudiante'" class="nav-item active">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            Cosas de estudiante
          </a>
        </li>
        <span *ngSwitchCase="'profesor'">
          <li  class="nav-item active pr-4">
            <a class="nav-link " routerLink="/practica" routerLinkActive="active">
              Subir práctica
            </a>
          </li>
        </span>
        <li *ngSwitchCase="'laboratorista'" class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            Cosas de laboratorista
          </a>
        </li>
        <li *ngSwitchDefault class="nav-item active">
          <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>