<!--navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Laboratorios UAA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngSwitch]="rol">
      <ul class="navbar-nav ml-auto" *ngSwitchCase="'estudiante'">
        <li  class="nav-item active">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            Cosas de estudiante
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngSwitchCase="'profesor'">
          <li  class="nav-item active pr-4">
            <a class="nav-link " routerLink="/crearPracticas" routerLinkActive="active">
              Subir práctica
            </a>
          </li>
          <li  class="nav-item active pr-4">
            <a class="nav-link " routerLink="/verPracticas" routerLinkActive="active">
              Ver prácticas
            </a>
          </li>
          <li  class="nav-item active pr-4">
            <a class="nav-link " routerLink="/cerrar" routerLinkActive="active">
              Cerrar Sesión
            </a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngSwitchCase="'laboratorista'">
        <li  class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            Cosas de laboratorista
          </a>
        </li>
        
      </ul>
      <ul *ngSwitchDefault class="navbar-nav ml-auto">
        <li  class="nav-item active">
          <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>