<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Laboratorios UAA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div [ngSwitch]="rol">
          <div *ngSwitchCase="'estudiante'">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">
                Cosas de estudiante
              </a>
            </li>
          </div>
          <div *ngSwitchCase="'maestro'">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/" routerLinkActive="active">
                Cosas de maestro
              </a>
            </li>
          </div>
          <div *ngSwitchCase="'laboratorista'">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/" routerLinkActive="active">
                Cosas de laboratorista
              </a>
            </li>
          </div>
          <div *ngSwitchDefault>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
            </li>
          </div>
        </div>     
      </ul>
    </div>
  </nav>