<div class="container mt-5">
    <table class="table table-hover" align="center">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre Del Alumno</th>
            <th scope="col">Calificacion</th>
            <th scope="col">Notas</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let examen of examenes; trackBy: trackByMethod">
            <th scope="row" >{{examen.nombre_alumno}}</th>
            <td >{{(examen.calificacion !== null) ? practica.calificacion : "No Revisado"}}</td>
            <td>
                <form [formGroup]="notasForm" (ngSubmit)="onSubmit(notasForm.value,examen.idalumno)">
                    <div class="row">
                        <input type="text" class="ml-3 form-control col-sm-7"  value="{{examen.notas}}"
                                formControlName="notas">
                        <button class="btn btn-info col-sm-3 ml-5" type="submit">Actualizar Nota</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>